body{
    width: 1920px;
    height: 968px;
    display: flex;
    position: fixed;
 justify-content: space-between;
 cursor: url(aim.png), default;
 
}

.jar{
  
   position: absolute;
   height: 145px;
   width: 147px;
   background-image: url(Drinks-02.png);

    
}
.die {
   height: 145px;
   width: 147px;
   position: absolute;
   background-image: url("Без имени.png") ;
   }

   .count_can{
      position:absolute;
      width:100%;
      top:5%;
      text-align:center;
   }

   
   .count{
      position:absolute;
      width:100%;
      top:10%;
      text-align:center;
   }
